<ul class="nav justify-content-end">

  <li class="nav-item">
    <a class="nav-link" href="/perfil">Regresar</a>
  </li>
</ul>


{{#if userInSession}}
</br>
<h2>{{userInSession.username}}, estos son tus ingresos</h2>
{{/if}}

</br>
{{#each incomeFound}}

<p>En {{this.incomeDate}}</p>
<p>Recibirás $ {{this.incomeAmount}}</p>
<p>de {{this.incomeSource}}</p>

  <li class="nav-item">
    <a class="nav-link" href="ingresos/{{this._id}}/editaringreso">Editar</a>
  </li>

<hr>


{{/each}}
