
{{!-- BARRA NAVEGACIÓN --}}

<ul class="nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="/perfil">Refrescar la página</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/perfil/editar">Editar perfil</a>
  </li>
</ul>
{{!-- SESIÓN DEL USUARIO --}}
{{#if userInSession}}
</br>
<h2>{{userInSession.username}}, este es tu perfil</h2>
{{/if}}
</br>

{{!-- ORGANIZACIÓN --}}
<div class="container">

<div class="row align-items-center">
    <div class="col">
      <p>¿Cómo va tu ciclo</p>
</br>
<a href='/crearingreso' class="btn btn-link">Registra tus ingresos</a>
<a href='/ingresos' class="btn btn-link">Ve tus ingresos</a>

<a href='/crearpresupuesto' class="btn btn-link">Crea tu presupuesto</a>
<a href='/presupuesto' class="btn btn-link">Ve tu presupuesto</a>


{{#each budgetFound}}

<p>Partida: {{this.budgetConcept}}</p>
<p>Presupuesto: $ {{this.budgetAmount}}</p>
<hr>

<div class="btn-group">
   <form action="/presupuesto/{{this._id}}/eliminarpresupuesto" method="POST">
        <button class="btn btn-primary active">Eliminar</button>
   </form>
  <a href="presupuesto/{{this._id}}/editarpresupuesto" class="btn btn-primary">Editar</a>
</div>

<hr>

{{/each}}

    </div>
    <div class="col">
      <p>Controla tu dinero</p>
    </div>
    <div class="col">
        <p>Planea tu futuro</p>    
    </div>
  </div>



